.homesec {
  min-width: 100vw;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s
}
.content{
  display: flex;
  right: 10%;
  margin: 50px 0 0 0;
  height: auto;
  gap: 40px;
}
.content h1{
  margin: 0;
  text-transform: uppercase;
  font-family: roboto;
  font-size: 40px;
  font-weight:700;
  color: #DE3163;
}
.content p{
  margin: 20px 0 0 0 ;
  color: #DE3163;
  font-family:Josefin Sans,sans-serif;
  font-size: 32px;
  font-weight:400;
  text-transform: uppercase;
}
.content h2{
  margin: 20px 0 0 0 ;
  color: #000000;
  font-family:Roboto,sans-serif;
  font-size: 32px;
  font-weight:700;
  text-transform: uppercase;
}
.content a{
  display: flex;
  position: relative;
  width: 279px;
  height: 70px;
  color: #DE3163;
  font-family: roboto, sans-serif;;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #000000;
  cursor: pointer;
  background-color: #ffffff;
  text-decoration: none;
  justify-content: center; 
  align-items: center;  
  padding: min(20px,8%);
  margin-top: 40px;
  z-index: 1; 
  transition: color 0.5s ease-in-out;
  
}

.content a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #ffffff;
  transition: height 0.5s ease-in-out;
}
.content a:hover{
  color: #ffffff; 
  background-color: #DE3163;
}

.content a:hover:before{
  height: 0%; 
  
}



.content img{
  width: 225px;
}

@media (max-width:1024px) {
  .content{
  flex-direction: column; 
  align-items: center;
  right: 0px;
  margin-top: 30px; 
  gap: 30px; 
  max-width: 95%;
    }
  .content a{
    font-size: 30px;
  }
}