.Navbar {
    width: 100%;
    height: 100px;
    background-color: #301934;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
 }
 
 .navItem{
    list-style: none;
    text-transform: uppercase;
    display: inline;
    font-family: "Josefin Sans";
    font-weight: 500px ;
    margin: 40px;
 }

 .navItem :hover{
  color: #ffffff;
    transition: 0.5s ease-in-out;
}

.navLink{
    text-decoration: none ;
    color: #DE3163;
}

/* Hamburger */
.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}
.hammburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1000; /* ให้ Hamburger อยู่ด้านบนสุด */
}

@media (max-width:1024px) {
    .Navbar{
        justify-content: flex-start;
        padding-left: 30px;;
    }
     .hammburger {
    display: flex;
  }
   .navList {
    position: absolute;
    top: 100%; /* อยู่ใต้ Navbar */
    left: 0;
    width: 100%;
    background-color: #301934; /* สีพื้นหลังเมนูเมื่อเปิด */
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%); 
    opacity: 0;
    pointer-events: none; 
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    margin: 0;
  }

  .navList.open {
    transform: translateY(0); 
    opacity: 1;
    pointer-events: auto;
  }

  .navItem {
    margin: 10px 0; 
    display: flex;
    padding-bottom: 20px;
  }

}