body{
  width: 100%;
}
.skillsec{ 
  min-width: 100vw;
  min-height: 100vh; 
  display: flex;
  position: relative;
  transition: 1s
}
.content{
  width: 100%;
  display: flex;
  flex-direction: column; 
  margin-top: 10px;
  gap: 50px ;
}
.head{
  text-align: center;
  margin: 150px 20% 0 0;
  text-transform: uppercase;
  font-family: roboto,sans-serif;
  font-size: 60px;
  font-weight:700;
  color: #000000
}
.box1, 
.box2, 
.box3 {
  font-family: Josefin Sans,sans-serif;
  font-weight: 500;
  font-size: 20px;
  background-color: #ffffff;
  width: 1100px; 
  height: 300px;
  border: 3px solid #000000;
}
.box1 h2,
.box2 h2,
.box3 h2{
  font-family: Josefin Sans,sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin: 30px 0 10px 0;
  color: #DE3163;
}
.box3 h2{
  padding: 0 0 20px 0;
}
.skillTopics {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}
.skillcolumnitem ul {
  text-align:left;
}
.skillcolumnitem ul li{
  margin: 0;
  margin-bottom: 10px;
}


.box1{
  margin-left: auto; 
  right: 0;
}
.box1 .info1{
  grid-column: 2;
}
.box2{
  margin-right: auto;
  left: 0;
} 
.box3{
  padding-top: 30px;
  margin-left: auto; 
  right: 0;
}

@media (max-width:1024px) {
  .skillsec{ 
    justify-content: center;
    
  }
  .content{
        flex-direction: column; 
        align-items: center;
        right: 0px;
        margin-top: 30px; 
        gap: 30px; 
        max-width: 95%; 
    }
    .head{
      margin: 0;
    }
    .box1, 
    .box2, 
    .box3 {
    font-size: 16px;
     margin: 0;
     width: 95vw;
     height: auto;
     text-align: left;
}

    .skillTopics {
     display: grid;
     grid-template-columns: repeat(2, 1fr); 
}
  
}